[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "funchir"]
	path = funchir
	url = https://github.com/michaelchirico/funchir
[submodule "geohashTools"]
	path = geohashTools
	url = https://github.com/michaelchirico/geohashtools
[submodule "potools"]
	path = potools
	url = https://github.com/michaelchirico/potools
[submodule "vcov"]
	path = vcov
	url = https://github.com/michaelchirico/vcov
